@page "/patientprofile/{id}"
@inject MyPrescriptionClient client
@inject NavigationManager NavManager
@attribute [Authorize(Roles = "doctor")]

<p hidden="!@HideWarning"><em>Loading...</em></p>
<div class="alert alert-danger" role="alert" hidden="@HideWarning">
    @WarningMessage
</div>

@if (patient == null)
{
    <PageTitle>Not found</PageTitle>
}
else
{
    <PageTitle>@GetFullName()</PageTitle>
    <h1>@GetFullName()</h1>
    <h3>
        <small class="text-muted">@patient.Gender, @patient.Birthdate (@GetYearsOld(patient) years old)</small>
    </h3>
    <address>
        <a href="mailto:@patient.Email">Mail: @patient.Email</a><br>
    </address>
    @if (prescriptions is not null)
    {
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Drug name</th>
                        <th>Creation Date</th>
                        <th>Is free?</th>
                        <th>Pharmacist name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach (var prescription in prescriptions)
                    {
                        <tr>
                            <td>@prescription.DrugName</td>
                            <td>@prescription.CreationDate.ToString()</td>
                            <td>@(prescription.IsFree ? "Yes" : "No")</td>
                            <td>@CheckPharmacistName(prescription)</td>
                            <td>
                                @if (string.IsNullOrEmpty(prescription.PharmacistName))
                                {
                                    <button type="button" class="btn btn-danger" @onclick="@(() => Delete(prescription))">Delete</button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-warning" @onclick="@(() => Renew(prescription))">Renew</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}

@code {
    [Parameter]
    public string? Id { get; set; }

    private PatientDTO? patient;
    private List<PrescriptionExpandedDTO>? prescriptions;

    private bool HideWarning = true;
    private string WarningMessage = "";

    private string GetFullName() => $"{patient!.FirstName} {patient!.LastName}";

    private int GetYearsOld(PatientDTO p) => DateTime.Today.Year - p.Birthdate.Year;

    private string CheckPharmacistName(PrescriptionExpandedDTO prescription) => prescription.PharmacistName ?? "Not delivered yet";

    protected override async Task OnInitializedAsync()
    {
        var response = await client.GetPatientAsync(Id!);
        if (!response.IsSuccessStatusCode)
        {
            patient = null;
            HideWarning = false;
            WarningMessage = "Patient not found!";
            return;
        }
        HideWarning = true;
        patient = await response.Content.ReadFromJsonAsync<PatientDTO>();
        if (patient is not null)
            await LoadPrescriptions(patient);
    }

    private async Task LoadPrescriptions(PatientDTO patient)
    {
        prescriptions = await client.GetPrescriptionsByPatientIdAsync(patient.Id);
    }

    private async Task Renew(PrescriptionExpandedDTO prescription)
    {
        //TODO: Implement
    }

    private async Task Delete(PrescriptionExpandedDTO prescription)
    {
        var response = await client.DeletePrescriptionByIdAsync(prescription.Id);
        if (!response.IsSuccessStatusCode)
        {
            HideWarning = false;
            WarningMessage = "Unable to delete the prescription!";
            return;
        }
        HideWarning = true;
        await LoadPrescriptions(patient!);
        StateHasChanged();
    }
}

