@page "/myprescriptions"
@inject MyPrescriptionClient client
@inject NavigationManager NavManager
@attribute [Authorize(Roles = "patient")]
@inject IJSRuntime JSRuntime

<p hidden="!@HideWarning"><em>Loading...</em></p>
<div class="alert alert-danger" role="alert" hidden="@HideWarning">
    @WarningMessage
</div>

@if (patient == null)
{
    <PageTitle>Not found</PageTitle>
}
else
{
    <PageTitle>@GetFullName()</PageTitle>
    <h1>@GetFullName()</h1>
    <h3>
        <small class="text-muted">@patient.Gender, @patient.Birthdate (@GetYearsOld(patient) years old)</small>
    </h3>
    <address>
        <a href="mailto:@patient.Email">Mail: @patient.Email</a><br>
    </address>
    @if (prescriptions is not null)
    {
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Drug name</th>
                        <th>Creation date</th>
                        <th>Is free?</th>
                        <th>Prescription code</th>
                        <th>Claimed</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach (var prescription in prescriptions)
                    {
                        <tr>
                            <td>@prescription.DrugName</td>
                            <td>@prescription.CreationDate.ToString()</td>
                            <td>@(prescription.IsFree ? "Yes" : "No")</td>
                            <td>
                                <NavLink class="btn btn-primary" href="@GetQrLink(prescription)">Show Code</NavLink>
                            </td>
                            <td>@(prescription.PharmacistName is not null ? "Yes" : "No")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}

@code {
    private PatientDTO? patient;
    private List<PrescriptionExpandedDTO>? prescriptions;

    private bool HideWarning = true;
    private string WarningMessage = "";

    private string GetFullName() => $"{patient!.FirstName} {patient!.LastName}";

    private int GetYearsOld(PatientDTO p) => DateTime.Today.Year - p.Birthdate.Year;

    private string GetQrLink(PrescriptionExpandedDTO prescription) => $"qrcode/{prescription!.Id}";

    protected override async Task OnInitializedAsync()
    {
        var response = await client.GetCurrentPatientAsync();
        if (!response.IsSuccessStatusCode)
        {
            patient = null;
            HideWarning = false;
            WarningMessage = "Patient not found!";
            return;
        }
        HideWarning = true;
        patient = await response.Content.ReadFromJsonAsync<PatientDTO>();
        if (patient is not null)
        {
            prescriptions = await client.GetPrescriptionsByCurrentPatientAsync();
        }
        if (await CheckPermission())
        {
            await RequestSubscription();
        }
        else if (HideWarning)
        {
            WarningMessage = "Accept notifications to be able to receive updates from your doctor.";
            HideWarning = false;
            await AskPermission();
        }
    }

    private ValueTask<bool> CheckPermission() => JSRuntime.InvokeAsync<bool>("blazorPushNotifications.checkNotificationPermission");

    private ValueTask AskPermission() => JSRuntime.InvokeVoidAsync("blazorPushNotifications.askNotificationPermission");

    private async Task RequestSubscription()
    {
        try
        {
            var subscription = await JSRuntime.InvokeAsync<NotificationSubscription>("blazorPushNotifications.requestSubscription", client.GetNotificationPublicKeyUrl());
            if (subscription != null)
            {
                try
                {
                    var response = await client.NotificationSubscribe(subscription);
                    response.EnsureSuccessStatusCode();
                }
                catch (AccessTokenNotAvailableException ex)
                {
                    ex.Redirect();
                }
            }
        }
        catch (Exception e)
        {
            Console.WriteLine("Error registering subscription for notifications");
            Console.WriteLine("If you are in incognito mode, notifications are not supported");
            Console.WriteLine("If you view this page in Safari, notifications may not be supported");
            Console.WriteLine($"Error message: {e.Message}");
            Console.WriteLine($"Error stack trace: {e.StackTrace}");
        }
    }
}

